html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}
* {
  padding: 0;
  margin: 0;
  line-height: 1.15;
}
.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}
.clearfix::after {
  content: '';
  visibility: hidden;
  display: block;
  clear: both;
}
.text{
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}
